.group-add {
    position: relative;
}

.group-add:after {
    content: attr(data-attr);
    position: absolute;
    z-index: 1000;
    left: 0;
    margin-left: 10px;
    margin-top: -30px;
    background-color: #09d261;
    border-radius: 12px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 19px;
    line-height: 20px;
    min-width: 9px;
    vertical-align: top;
}
